# Raw data  (all over 100MB or close)
data/bd.data.1.AllItems.txt
data/bd.series.txt
data/bd.dataclass.txt
data/bd.dataelement.txt
data/bd.industry.txt
data/bd.periodicity.txt
data/bd.sizeclass.txt
data/bd.state.txt
data/bd.data.1.AllItems.txt
processed/filtered_bds_data.csv